
body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
h1{
    font-size: 50px;
}

#name {
    color: orange;
}
.hulf-left{
    width: 55%;
    padding: 15px;
}
.hulf-right{
    width: 43%;
    padding: 15px;
}
a{  
    
    padding: 5px;
    border: 1px solid orange;    
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    
}

.hulf-right img{
    width: 100%;
    
}
.hulf-left img{
    width: 100%;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  
   
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}