
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.dbl-section{
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
h1{
    font-size: 50px;
}

#name {
    color: orange;
}
.half-left{
    width: 55%;
    padding: 15px;
}
.half-right{
    width: 43%;
    padding: 15px;
}
a{  
    
    padding: 5px;
    border: 1px solid orange;    
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    
}

.half-right img{
    width: 100%;
    
}
.half-left img{
    width: 100%;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  
   
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orrange{
    color: orange;
}
.shadow{
    box-shadow: 10px 10px 30px black;
    width: 40%;
    padding: 30px;
    margin: 10px 60px; 
    border-radius: 5px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#web {
    border-left: 7px solid;
    border-image: linear-gradient(orange, blue);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, orange);
    border-image-slice: 1;
}
footer{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
footer p{
    padding: 10px;
    color: blanchedalmond;
    font-weight: 300;
}
